body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Elvetica';
}

input {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border-color: darkslateblue;
}

button {
    background-color: darkorchid;
    border-color: none;
    border-radius: 10px;
    font-size: 30px;
    align-items: center;
    align-content: center;
    text-align: center;
}